{
  "EMBED_DEFAULT_COLOR": 7701247,
  "DEBUG": true,
  "SELF_ASSIGN_ROLES": [
  ],
  "ALLOWED_GUILDS": [
  ],
  "PREFIX": "!",
  "IMAGE_LIST_CHANNEL": 1046364538632675428,
  "LOG_MESSAGE_CHANNEL": 1046364630676684880,
  "LOG_ON": true
}